      @height:100%;
      .buttonContainerElementModel{
        border:none;
        background:None;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 1.2em;



      }      
      html, body{
        height:@height;
        margin: 0;
        padding: 0;
      }
      #map {
        position:absolute;
        height: @height;
        float: left;
        width: 70%;

      }
      #tracklistContainer {
        width: 30%;
        float: right;
        background-color:darkturquoise;
        min-height: @height;
      }

      p:nth-of-type(even){
        background:lightgray;
          
      }
      p:nth-of-type(odd)
      {
        background: white;
      }
      .item{
        margin: 0;
        padding-bottom: 0.25em;
        padding-top:0.25em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        

      }

      #heightMeterCanvas{
          width:375px;
          height:150px;
          z-index:1;
          border:1px solid black;
          position:fixed;
          left:3em;
          bottom:2em;
          background-color:black ;
          opacity:0.7;
          padding:1em;

      }

      #leftButton{
          .buttonContainerElementModel;
      }
      #rightButton{
          .buttonContainerElementModel;
       
      }
      #pageNumber{
       .buttonContainerElementModel;
       
       
        
      }
      #buttoncontainer{
        display: flex;
        align-items: center;
        height: 1.5em;
        min-height: 1.5em;

      }

      p:hover{
        background-color:lightblue; 
      }

      p:active :hover{
        background-color:blue;
      }

      




    