      @height:100%;
      .buttonModel{
        border:none;
        background:None;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 1.2em;


      }      
      html, body{
        height:@height;
        margin: 0;
        padding: 0;
      }
      #map {
        position:absolute;
        height: @height;
        float: left;
        width: 70%;

      }
      #tracklistContainer {
        width: 30%;
        height: 100%;
        float: right;
        display: -webkit-flex;
        display: flex;
        flex-direction:column;
        text-align:left;
        background-color:darkturquoise;
        
      }

      p:nth-of-type(even){
        background:lightgray;
          
      }
      p:nth-of-type(odd)
      {
        background: white;
      }
      .item{
        margin: 0;
        padding-bottom: 0.5em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 1.2em;

      }

      #heightMeterCanvas{
          width:375px;
          height:150px;
          z-index:1;
          border:1px solid black;
          position:fixed;
          left:3em;
          bottom:2em;
          background-color:black ;
          opacity:0.7;
          padding:1em;

      }

      #leftButton{
          .buttonModel;
      }
      #rightButton{
          .buttonModel;
       
      }
      #pageNumber{
       .buttonModel;
       
       
        
      }
      #buttoncontainer{
        display: -webkit-flex;
        display: flex;
        -webkit-align-items:center;
        align-items: center;
        min-height: 2em;

      }

      p:hover{
        background-color:lightblue; 
      }

      p:active :hover{
        background-color:blue;
      }

      




    